.add-members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));

  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  border: 1px solid var(--clr-border-500);
  padding: 1rem;
  border-radius: 0.5rem;
  transition: height 0.3s ease, border-color 0.15s ease;

  @include respond(mediumScreen) {
    width: 100%;
    height: 100%;
    background: var(--clr-bg-100);
    position: relative;
    z-index: 10;
  }

  .photo {
    aspect-ratio: 16 / 9;
    max-height: 500px;
    background-color: var(--clr-bg-300);
    grid-column: 1/-1;
    display: grid;
    place-content: center;
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;

    transition: background-color 0.15s ease;

    &__family {
      display: block;
      width: 100%;
      height: 100%;

      img {
        width: 100%;
      }
    }

    &__loader {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      border: 12px solid transparent;
      border-top-color: var(--clr-primary-800);
      border-bottom-color: var(--clr-primary-800);
      border-radius: 100%;
      animation: imageLoaderAnim 2s linear infinite;

      @include respond(mediumScreen) {
        border-width: 0.5rem;
      }
    }

    @keyframes imageLoaderAnim {
      100% {
        rotate: 360deg;
      }
    }

    &__remove {
      all: unset;
      line-height: 1;
      background-color: var(--clr-bg-100);
      padding: 0.5rem 1rem;
      border-radius: 100vmax;
      font-family: var(--fs-primary);
      position: absolute;
      top: 1rem;
      right: 1rem;
      outline: 0;
      font-size: 0.875rem;

      &:hover {
        background-color: var(--clr-accent-800);
        color: var(--clr-text-100);
      }
    }

    &__upload {
      width: 10rem;
      height: 10rem;
      background-color: var(--clr-bg-400);
      border-radius: 100%;
      position: relative;
      display: grid;
      place-content: center;

      @include respond(mediumScreen) {
        width: 8rem;
        height: 8rem;
      }

      &:hover {
        svg {
          path {
            fill: var(--clr-text-700);
          }
        }
      }

      svg {
        path {
          fill: var(--clr-text-600);
          transition: all 0.2s ease;
        }
      }

      &.pulse {
        animation: pulse 2s linear infinite;
      }

      @keyframes pulse {
        0% {
          background-color: var(--clr-bg-600);
        }

        60% {
          background-color: var(--clr-bg-400);
        }

        100% {
          background-color: var(--clr-bg-500);
        }
      }

      input {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
      }
    }
  }

  button {
    justify-self: flex-start;
  }

  h3 {
    grid-column: 1/-1;
    color: var(--clr-text-800);
    text-transform: uppercase;
    font-size: 0.875rem;
    font-family: var(--fs-primary);
  }

  .button-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-block: 1rem;
    z-index: 15;
    grid-column: 1 / -1;
    width: 100%;
    background-color: var(--clr-bg-100);
    position: sticky;
    bottom: 0;

    transition: background-color 0.15s ease;
  }
}
