.btn {
  all: unset;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  line-height: 1;
  font-size: 0.875rem;
  cursor: pointer;
  text-transform: uppercase;
  font-family: var(--fs-primary);
  font-weight: 600;
  --clr-base: #b13814;
}

.btn-primary {
  background-color: var(--clr-base);
  color: white;
}

.btn-secondary {
  color: var(--clr-base);
  border: 1px solid var(--clr-base);
}

.remove-member-btn {
  align-self: flex-end;
}

.btn-fancy {
  all: unset;
  text-decoration: none;
  padding: 0.4rem 1rem;
  border-radius: 100vmax;
  font-size: 1rem;
  color: #4a4a4a;
  font-family: var(--fs-primary);
  transition: all 0.15s ease;

  &:hover {
    background-color: #af1b3f;
    color: white;
  }
}
