.btn {
  all: unset;
  padding: 0.75rem 1.5rem;
  border-radius: 0.25rem;
  line-height: 1;
  font-size: 0.8125rem;
  min-width: fit-content;
  cursor: pointer;
  // text-transform: uppercase;
  font-family: var(--fs-primary);
  font-weight: 600;
  transition: all 0.15s ease;
}

.btn-primary {
  background-color: var(--clr-accent-800);
  color: var(--clr-text-100);

  &:focus-visible,
  &:hover {
    background-color: var(--clr-accent-900);
  }
}

.btn-secondary {
  color: var(--clr-accent-800);
  border: 1px solid var(--clr-accent-800);

  &:focus-visible,
  &:hover {
    background-color: var(--clr-accent-200);
  }
}

.remove-member-btn {
  align-self: flex-end;
}

.btn-fancy {
  all: unset;
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  border-radius: 100vmax;
  font-size: 0.875rem;
  color: var(--clr-text-700);
  font-family: var(--fs-primary);
  transition: all 0.15s ease;

  &:focus-visible,
  &:hover {
    background-color: var(--clr-bg-300);
  }
}

.btn-float-m {
  all: unset;
  display: grid;
  place-content: center;
  position: fixed;
  top: 60vh;
  box-shadow: -2px 5px 1rem rgba(black, 0.5);
  right: 1rem;
  background-color: var(--clr-primary-800);
  color: var(--clr-text-100);
  font-size: 1.5rem;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
}
