.logo {
  font-family: var(--fs-primary);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  // margin-top: 2.5rem;
  font-size: 1rem;
  line-height: 1;
  color: var(--clr-text-800);
  transition: color 0.15s ease;

  @include respond(mediumScreen) {
    grid-column: 1/-1;
  }
}

.family-listing-wrap>.header {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: flex-start;
  background-color: var(--clr-bg-100);
  align-items: center;
  padding-block: 0.5rem;
  height: 56px;
  width: 100%;

  transition: background-color 0.15s ease;

  @include respond(mediumScreen) {
    display: grid;
    height: auto;
    grid-template-columns: 1fr max-content;
    justify-items: space-between;
    width: 100%;
    gap: 1rem;
  }

  &__searchbar {
    margin-right: auto;
  }

  .switch-wrap {
    @include respond(mediumScreen) {
      display: none;
    }
  }

  button {
    justify-self: flex-end;

    // @media screen and (max-width: 500px) {
    //   display: none;
    // }
  }

  .searchbar {
    // width: clamp(20rem, 30vw, 25rem) !important;
    min-width: 10rem;
    max-width: 25rem;
    width: 30vw;
    width: clamp(10rem, 30vw, 30rem);
    display: flex;
    border: 1px solid var(--clr-border-500);
    background-color: var(--clr-bg-300);
    border-radius: 100vmax;
    overflow: hidden;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.75rem;
    transition: border-color 0.3s ease, background-color 0.15s ease;
    margin-right: auto;

    @include respond(mediumScreen) {
      width: 100%;
    }

    &:focus-within {
      transition: border-color 0.3s ease;
      border-color: var(--clr-active-800);
      background-color: var(--clr-bg-100);
    }

    &__search-icon {
      color: var(--clr-text-600);

      &:hover {
        color: var(--clr-text-800);
      }
    }

    input {
      padding: 0.5rem;
      outline: 0;
      border: 0;
      width: 100%;
      font-size: 0.875rem;
      font-family: var(--fs-primary);
      color: var(--clr-text-800);
      background-color: transparent;

      &::placeholder {
        color: var(--clr-text-800);
        opacity: 0.6;
      }
    }

    button {
      all: unset;
      padding: 0.5rem;
      height: 100%;
      cursor: pointer;
      font-family: var(--fs-primary);
      color: var(--clr-text-900);

      &:hover,
      &:focus-visible {
        color: var(--clr-text-800);
      }

      &:disabled {
        color: var(--clr-text-500) !important;
        cursor: default;
        pointer-events: none;
      }
    }

    .filter-count {
      display: flex;
      align-items: center;
      align-self: center;
      gap: 4px;
      font-style: italic;
      opacity: 0.5;
      font-family: var(--fs-primary);
      color: var(--clr-text-700);
    }

    &__clear {
      align-self: center;
      padding-inline: 0.5rem;
      padding-block: 3px;
      cursor: pointer;
      font-family: var(--fs-primary);
      color: var(--clr-text-500);

      &:hover {
        color: var(--clr-text-700);
      }
    }
  }
}