.logo {
  font-family: var(--fs-primary);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  margin-top: 2.5rem;
  font-size: 1rem;
}
.header {
  // display: grid;
  display: flex;
  gap: 2rem;
  justify-content: center;
  // grid-template-columns: 1fr 1fr;
  background-color: white;
  align-items: center;
  padding-block: 1rem;
  position: sticky;
  top: 0;
  z-index: 10;

  button {
    justify-self: flex-end;

    @media screen and (max-width: 500px) {
      display: none;
    }
  }
  .searchbar {
    min-width: 20rem;
    display: flex;
    align-items: stretch;
    border: 1px solid #838383;
    border-radius: 0.25rem;
    overflow: hidden;
    align-items: center;
    padding-left: 0.5rem;

    &__search-icon {
      color: #838383;
    }
    input {
      padding: 0.5rem;
      outline: 0;
      border: 0;
      width: 100%;
      font-size: 1rem;
      font-family: var(--fs-primary);
      color: #4a4a4a;
    }
    button {
      all: unset;
      padding: 0.5rem;
      height: 100%;
      background-color: #ddd;
      cursor: pointer;
      font-family: var(--fs-primary);
      color: #4a4a4a;

      &:hover,
      &:focus-visible {
        background-color: #ccc;
      }

      &:disabled {
        color: #838383 !important;
        background-color: #eee;
        cursor: default;
      }
    }

    .filter-count {
      display: flex;
      align-items: center;
      align-self: center;
      gap: 4px;
      font-style: italic;
      opacity: 0.5;
      font-family: var(--fs-primary);
    }

    &__clear {
      align-self: center;
      padding-inline: 0.5rem;
      padding-block: 3px;
      cursor: pointer;
      font-family: var(--fs-primary);
      color: #838383;

      &:hover {
        color: #4a4a4a;
      }
    }
  }
}
