.input-group {
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  font-family: var(--fs-secondary);

  &.invalid {
    color: var(--clr-error-800);

    input {
      border-color: var(--clr-error-800);
    }
  }

  label {
    font-size: 0.875rem;
    color: var(--clr-text-800);
  }

  input {
    -webkit-appearance: none;
    all: unset;
    padding: 0.5rem;
    border: var(--input-border);
    border-radius: 0.25rem;
    font-family: var(--fs-secondary);
    font-size: 0.875rem;
    min-height: 1.5rem;
    color: var(--clr-text-800);
    accent-color: var(--clr-text-800);
    text-align: left;
    background-color: var(--clr-bg-100);

    &:hover{
      background-color: var(--clr-active-700);
    }


    &::placeholder {
      color: var(--clr-text-800);
      opacity: 0.6;
    }

    &::-webkit-date-and-time-value {
      text-align: left;
    }

    &:focus {
      outline: 0;
      box-shadow: 0 0 0 1px var(--clr-active-800);
      border-color: var(--clr-active-800);
    }
  }
}

.dropdown {
  display: flex;
  flex-direction: column;
  gap: 3px;
  font-size: 0.875rem;
  position: relative;

  label {
    font-size: 0.875rem;
    color: var(--clr-text-800);
  }

  &.invalid {
    label {
      color: var(--clr-error-800);
    }

    .dd {
      border-color: var(--clr-error-800);
    }
  }
  .dd {
    all: unset;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.25rem;
    position: relative;
    min-width: 5rem;
    background-color: transparent;
    height: 40px;
    width: 100%;

    &:hover{
      .dd__control{
        border: var(--input-border);
        background-color: var(--clr-active-700);
      }
    }
  
    &__control{
      background-color: var(--clr-bg-100);
      border: var(--input-border);
      width: 100%;


      &--is-focused{
          box-shadow: 0 0 0 1px var(--clr-active-800);
          border-color: var(--clr-active-800);
      }
    }

    &__menu{
      background-color: var(--clr-bg-300);
    }

    &__option--is-focused{
      background-color: var(--clr-bg-400);
    }

    &__input-container,
    &__single-value{
      color: var(--clr-text-800);
    }
  
    &:has(.dd__options) {
      border-radius: 0.25rem 0.25rem 0 0;
      border-bottom: 1px solid transparent;
    }
  
    &__arrow {
      position: relative;
      z-index: 5;
      color: var(--clr-text-800);
    }
  
    &:focus-within {
      outline: 0;
      box-shadow: 0 0 2px 0 var(--clr-active-800);
      border-color: var(--clr-active-800);
    }
  
    &__selected-value {
      background-color: transparent;
      height: 100%;
      width: 100%;
      padding-inline: 0.5rem;
      box-sizing: border-box;
      border: 0;
      outline: 0;
      accent-color: var(--clr-text-800);
      font-size: 0.875rem;
      color: var(--clr-text-800);
  
      &::placeholder {
        color: var(--clr-text-800);
        opacity: 0.6;
      }
    }
  
    &__options {
      position: absolute;
      top: 100%;
      font-size: 0.875rem;
  
      left: -1px;
      width: 100%;
      border: var(--input-border);
      border-top: 0;
      border-radius: 0 0 0.25rem 0.25rem;
      background-color: var(--clr-bg-100);
      z-index: 100;
      color: var(--clr-text-800);
    }
  
    &__menu {
      list-style: none;
    }
  
    &__menu-item {
      padding: 0.185rem 0.5rem;
  
      &:first-child {
        border-top: var(--input-border);
      }
  
      &:hover {
        background-color: var(--clr-bg-300);
      }
    }
  
    &__placeholder {
      color: var(--clr-text-700);
    }
  
    &__no-data {
      padding: 0.5rem;
      color: var(--clr-text-700);
    }
  }
}


.input-error {
  color: var(--clr-error-800);
  font-size: 13px;
  position: absolute;
  left: 0.5rem;
  bottom: 0;
  transform: translateY(105%);
}

html[data-theme="dark"] {
  input[type="date"]::-webkit-calendar-picker-indicator {
    color-scheme: dark;
  }
}

.switch-wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  --transition: all 0.3s ease;

  --size: 1.5rem;

  .switch {
    &__label {
      color: var(--clr-text-600);
      line-height: 1;
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: uppercase;
      min-width: fit-content;
      // pointer-events: none;
    }

    &__input:checked {
      ~ .switch__control {
        background-color: var(--clr-accent-800);
        transition: var(--transition);

        &::after {
          background-color: var(--clr-accent-200);
          transform: translateX(var(--size));
          transition: var(--transition);
        }
      }
    }

    &__control {
      min-width: calc(var(--size) * 2);
      min-height: var(--size);
      border-radius: 100vmax;
      background-color: var(--clr-bg-500);
      position: relative;
      display: block;
      transition: var(--transition);

      &::after {
        position: absolute;
        transform: translateX(0);
        left: 0;
        top: 0;
        content: "";
        width: var(--size);
        aspect-ratio: 1;
        background-color: var(--clr-bg-100);
        border-radius: 100%;
        transition: var(--transition);
        box-shadow: 0 0 0.2rem rgba(black, 0.25);
      }
    }
  }
}
