.wrapper {
  max-width: 700px;
  margin: auto;
  border-radius: 1rem;
}

.full-width-col {
  grid-column: 1/-1;
}

body {
  height: 100%;
  // overflow: hidden;
}

.custom-scroll {
  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: var(--clr-bg-400);
    }
  }
  &::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    margin-top: 0.5rem;
    background-color: transparent;
  }
  &::-webkit-scrollbar-button {
    display: none;
  }
  &::-webkit-scrollbar-corner {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--clr-bg-400);
    border-radius: 100vmax;
    &:hover {
      background-color: var(--clr-bg-600);
    }
  }
}
