$duration: (
  1: 0s,
  2: 0.1s,
  3: 0.2s,
  4: 0.3s,
  5: 0.4s,
);

.loader {
  background-color: var(--clr-bg-100);
  padding: 2rem 4rem;
  display: block;
  position: fixed;
  border-radius: 0.5rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-family: var(--fs-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: var(--clr-text-800);

  @include respond(mediumScreen) {
    padding-inline: 1rem;
    min-width: 60vw;
  }

  &__circles {
    position: relative;
    --size: 5rem;
    width: var(--size);
    height: var(--size);
    transform: rotate(-90deg);

    .circle {
      position: absolute;
      top: 50%;
      left: 50%;
      --circleSize: 0.5rem;
      width: var(--circleSize);
      height: var(--circleSize);
      border-radius: 100%;
      transform: translate(-50%, -50%);
      animation: loaderAnim 2s ease infinite;
      opacity: 0;

      @each $item, $value in $duration {
        &.circle-#{$item} {
          animation-delay: $value;
        }
      }

      &::after {
        content: "";
        width: var(--circleSize);
        height: var(--circleSize);
        background-color: var(--clr-accent-800);
        display: block;
        position: absolute;
        left: calc(var(--size) / 2);
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
      }
    }
  }
}

@keyframes loaderAnim {
  0% {
    transform: translate(-50%, -50%) rotate(0);
    opacity: 0.1;
  }

  90% {
    opacity: 1;
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    opacity: 0.1;
  }
}

.image-pulse-loader {
  position: absolute;
  inset: 0;
  animation: imagePulse 2s linear infinite;
}

@keyframes imagePulse {
  0% {
    background-color: transparent;
  }

  50% {
    background-color: var(--clr-bg-300);
  }

  100% {
    background-color: transparent;
  }
}

.member-placeholder {
  background-color: var(--clr-bg-300);
  border: 1px solid var(--clr-border-500);
  height: 100%;
  max-height: 50vh;
  min-height: 50vh;
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
  position: relative;
  justify-items: center;
  gap: 1rem;
  color: var(--clr-text-600);

  font-family: var(--fs-primary);

  transition: background-color 0.15s ease, border-color 0.15s ease;

  &__content {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }

  &__facts {
    width: 75%;
    text-align: left;
    font-size: 1.5rem;
  }

  &__icon {
    font-size: 1.25rem;
    opacity: 0.75;
  }
}
